{% extends "base.html" %}
{% load bootstrap %}
{% block title %}ログイン{% endblock %}

{% block content %}
<h1>ログイン</h1>

<div class="container">

<form action="{% url 'login' %}" method="POST" class="w-75 mx-auto">
    {% csrf_token %}
    {{ form|bootstrap }}
    <br>
    <a href="{% url 'password_reset' %}" class="text-center mx-auto d-block">パスワードをお忘れの場合</a>
    <input type="submit" class="btn btn-primary btn-lg d-block mx-auto m-4" value="ログイン">
</form>

</div>

<div class="w-50 bg-warning container mt-3">
    <p>テストユーザー</p>
    <ul>
        <li>ユーザー名：user01</li>
        <li>メールアドレス：user01@xxx.xx</li>
        <li>パスワード：nagoya#user01</li>
    </ul>
</div>
{% endblock %}