{% extends "base.html" %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
<h1>パスワード再設定</h1>

<div class="container">

    <p class="text-center">メールアドレスを入力して下さい。<br>パスワード再設定のためのリンクを送信します。</p>

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
            {{ form.email.errors }}
            <div class="flex-container text-center mx-auto">
                <label for="id_email">メールアドレス</label>
                {{ form.email }}
            </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" class="btn btn-primary btn-lg d-block mx-auto m-4" value="再設定用のメールを送信する">
        </div>
    </form>

</div>

{% endblock %}